nodered/progetto.json
[
    {
        "id": "34d478f6cbb8753a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5c024831da04011",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0cdba00dd121a6f6",
        "type": "ui_tab",
        "name": "temperature",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "827722bd9bf31d4a",
        "type": "ui_tab",
        "name": "humidity",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3900d40c1756d9b6",
        "type": "ui_tab",
        "name": "water_level",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3dbd742063594ab4",
        "type": "ui_group",
        "name": "measurements",
        "tab": "0cdba00dd121a6f6",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60357de18034327d",
        "type": "ui_group",
        "name": "measurements",
        "tab": "827722bd9bf31d4a",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69c85ae031957054",
        "type": "ui_group",
        "name": "measurements",
        "tab": "3900d40c1756d9b6",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf90c337e99acd39",
        "type": "ui_group",
        "name": "analysis",
        "tab": "0cdba00dd121a6f6",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab882737ee8c3239",
        "type": "ui_group",
        "name": "analysis",
        "tab": "827722bd9bf31d4a",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4de629c8464f8fcf",
        "type": "ui_group",
        "name": "analysis",
        "tab": "3900d40c1756d9b6",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fcc25f7a51ee641",
        "type": "inject",
        "z": "34d478f6cbb8753a",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "date",
                "v": "object",
                "vt": "date"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "a94c0146f60e4769"
            ]
        ]
    },
    {
        "id": "a94c0146f60e4769",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "random_temperature",
        "func": "let min = 20;\nlet max = 30;\nlet randomNumber = Math.random() * (max - min) + min;\n\n// Arrotonda il numero per maggiore pulizia (opzionale)\nlet value = parseFloat(randomNumber.toFixed(2));\n\nmsg.payload = value;\nmsg.topic = \"temperature\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "42f6df196dd72d4c",
                "3578f7c607ca29b1",
                "d84df22c477c8b88",
                "dd0a8517cf8c8cc3"
            ]
        ]
    },
    {
        "id": "3578f7c607ca29b1",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "average",
        "func": "const max_values = 30;\n\nlet value = parseFloat(msg.payload);\nlet values = context.get(\"values\") || [];\n\nvalues.push(value);\n\nwhile (values.length > max_values) {\n    values.shift();\n}\n\ncontext.set(\"values\", values);\n\nlet somma = 0;\nfor (let i = 0; i < values.length; i++) {\n    somma += values[i];\n}\n\nmsg.payload = parseFloat((somma / values.length).toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "7191f3305b6e375e"
            ]
        ]
    },
    {
        "id": "ca3004bf410c1e07",
        "type": "inject",
        "z": "34d478f6cbb8753a",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "date",
                "v": "object",
                "vt": "date"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "498dd53eb32c9d53"
            ]
        ]
    },
    {
        "id": "498dd53eb32c9d53",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "random_humidity",
        "func": "let min = 20;\nlet max = 30;\nlet randomNumber = Math.random() * (max - min) + min;\n\n// Arrotonda il numero per maggiore pulizia (opzionale)\nlet value = parseFloat(randomNumber.toFixed(2));\n\nmsg.payload = value;\nmsg.topic = \"humidity\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "227184f3d9990528",
                "a015631a545e31e4",
                "ed13c6809e7717c8",
                "df17f5b9454415da"
            ]
        ]
    },
    {
        "id": "a015631a545e31e4",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "average",
        "func": "const max_values = 30;\n\nlet value = parseFloat(msg.payload);\nlet values = context.get(\"values\") || [];\n\nvalues.push(value);\n\nwhile (values.length > max_values) {\n    values.shift();\n}\n\ncontext.set(\"values\", values);\n\nlet somma = 0;\nfor (let i = 0; i < values.length; i++) {\n    somma += values[i];\n}\n\nmsg.payload = parseFloat((somma / values.length).toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 480,
        "wires": [
            [
                "3a38d29792bf03f1"
            ]
        ]
    },
    {
        "id": "856c3e3e3ae4fdbd",
        "type": "inject",
        "z": "34d478f6cbb8753a",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "98d2216dd5644797"
            ]
        ]
    },
    {
        "id": "98d2216dd5644797",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "random_water_level",
        "func": "let min = 20;\nlet max = 30;\nlet randomNumber = Math.random() * (max - min) + min;\n\n// Arrotonda il numero per maggiore pulizia (opzionale)\nlet value = parseFloat(randomNumber.toFixed(2));\n\nmsg.payload = value;\nmsg.topic = \"water_level\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 600,
        "wires": [
            [
                "be5652e7290804be",
                "f8d8216dd9146556"
            ]
        ]
    },
    {
        "id": "42f6df196dd72d4c",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "3dbd742063594ab4",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7191f3305b6e375e",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "cf90c337e99acd39",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "Avg Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e01b24",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "227184f3d9990528",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "60357de18034327d",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Humidity (kg/m^3)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3a38d29792bf03f1",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "ab882737ee8c3239",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "Avg Humidity (kg/m^3)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "be5652e7290804be",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "69c85ae031957054",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Water Level (mm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f8d8216dd9146556",
        "type": "ui_gauge",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "69c85ae031957054",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Gauge",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "ccc74ce47892d404",
        "type": "ui_button",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "4de629c8464f8fcf",
        "order": 1,
        "width": "5",
        "height": "1",
        "passthru": false,
        "label": "Water Pump Override",
        "tooltip": "Enables the water pump for 5 seconds",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "water_pump_override",
        "topicType": "msg",
        "x": 200,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ab220919f250e4eb",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "cf90c337e99acd39",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Temperature:",
        "format": "{{msg.payload}} @ {{msg.date}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "8280581bc87fc4f5",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "cf90c337e99acd39",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Min Temperature:",
        "format": "{{msg.payload}} @ {{msg.date}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "dd0a8517cf8c8cc3",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "max",
        "func": "let max = context.get(\"max\") || undefined;\nlet value = msg.payload;\n\nif (!max || max < value) {\n    max = value;\n} else {\n    return null;\n}\n\ncontext.set(\"max\", max);\n\nmsg.payload = max;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "ab220919f250e4eb"
            ]
        ]
    },
    {
        "id": "d84df22c477c8b88",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "min",
        "func": "let min = context.get(\"min\") || undefined;\nlet value = msg.payload;\n\nif (!min || min > value) {\n    min = value;\n} else {\n    return null;\n}\n\ncontext.set(\"min\", min);\n\nmsg.payload = min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 60,
        "wires": [
            [
                "8280581bc87fc4f5"
            ]
        ]
    },
    {
        "id": "6bf500247d122c0e",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "ab882737ee8c3239",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Humidity:",
        "format": "{{msg.payload}} @ {{msg.date}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "050653bc1899f72e",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "ab882737ee8c3239",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Min Humidity:",
        "format": "{{msg.payload}} @ {{msg.date}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "ed13c6809e7717c8",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "max",
        "func": "let max = context.get(\"max\") || undefined;\nlet value = msg.payload;\n\nif (!max || max < value) {\n    max = value;\n} else {\n    return null;\n}\n\ncontext.set(\"max\", max);\n\nmsg.payload = max;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "6bf500247d122c0e"
            ]
        ]
    },
    {
        "id": "df17f5b9454415da",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "min",
        "func": "let min = context.get(\"min\") || undefined;\nlet value = msg.payload;\n\nif (!min || min > value) {\n    min = value;\n} else {\n    return null;\n}\n\ncontext.set(\"min\", min);\n\nmsg.payload = min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "050653bc1899f72e"
            ]
        ]
    },
    {
        "id": "ae1f9aa6e064c477",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
