nodered/progetto.json
[
    {
        "id": "34d478f6cbb8753a",
        "type": "tab",
        "label": "measurement and analysis",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c753122a205bffa9",
        "type": "tab",
        "label": "home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5c024831da04011",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0cdba00dd121a6f6",
        "type": "ui_tab",
        "name": "temperature",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "827722bd9bf31d4a",
        "type": "ui_tab",
        "name": "humidity",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3900d40c1756d9b6",
        "type": "ui_tab",
        "name": "water_level",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3dbd742063594ab4",
        "type": "ui_group",
        "name": "measurements",
        "tab": "0cdba00dd121a6f6",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60357de18034327d",
        "type": "ui_group",
        "name": "measurements",
        "tab": "827722bd9bf31d4a",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69c85ae031957054",
        "type": "ui_group",
        "name": "measurements",
        "tab": "3900d40c1756d9b6",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf90c337e99acd39",
        "type": "ui_group",
        "name": "analysis",
        "tab": "0cdba00dd121a6f6",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ab882737ee8c3239",
        "type": "ui_group",
        "name": "analysis",
        "tab": "827722bd9bf31d4a",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4de629c8464f8fcf",
        "type": "ui_group",
        "name": "analysis",
        "tab": "3900d40c1756d9b6",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d99d632f072107bd",
        "type": "ui_tab",
        "name": "home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5d441a915c5d51f3",
        "type": "ui_group",
        "name": "PotXII",
        "tab": "d99d632f072107bd",
        "order": 1,
        "disp": false,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da78d601782c531b",
        "type": "ui_tab",
        "name": "general",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2d67e269d40763c1",
        "type": "ui_group",
        "name": "analysis",
        "tab": "da78d601782c531b",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5c6f3da9210d83e",
        "type": "ui_tab",
        "name": "light",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "91d9056983d973a5",
        "type": "ui_group",
        "name": "measurements",
        "tab": "a5c6f3da9210d83e",
        "order": 1,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d0e0f81a04b7c122",
        "type": "ui_group",
        "name": "analysis",
        "tab": "a5c6f3da9210d83e",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8fcc25f7a51ee641",
        "type": "inject",
        "z": "34d478f6cbb8753a",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "date",
                "v": "object",
                "vt": "date"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "a94c0146f60e4769"
            ]
        ]
    },
    {
        "id": "a94c0146f60e4769",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "random_temperature",
        "func": "let min = 20;\nlet max = 30;\nlet randomNumber = Math.random() * (max - min) + min;\n\n// Arrotonda il numero per maggiore pulizia (opzionale)\nlet value = parseFloat(randomNumber.toFixed(2));\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 160,
        "wires": [
            [
                "42f6df196dd72d4c",
                "3578f7c607ca29b1",
                "d84df22c477c8b88",
                "dd0a8517cf8c8cc3"
            ]
        ]
    },
    {
        "id": "3578f7c607ca29b1",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "average",
        "func": "const max_values = 30;\n\nlet value = parseFloat(msg.payload);\nlet values = context.get(\"values\") || [];\n\nvalues.push(value);\n\nwhile (values.length > max_values) {\n    values.shift();\n}\n\ncontext.set(\"values\", values);\n\nlet somma = 0;\nfor (let i = 0; i < values.length; i++) {\n    somma += values[i];\n}\n\nmsg.payload = parseFloat((somma / values.length).toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 220,
        "wires": [
            [
                "7191f3305b6e375e"
            ]
        ]
    },
    {
        "id": "ca3004bf410c1e07",
        "type": "inject",
        "z": "34d478f6cbb8753a",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "date",
                "v": "object",
                "vt": "date"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "498dd53eb32c9d53"
            ]
        ]
    },
    {
        "id": "498dd53eb32c9d53",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "random_humidity",
        "func": "let min = 20;\nlet max = 30;\nlet randomNumber = Math.random() * (max - min) + min;\n\n// Arrotonda il numero per maggiore pulizia (opzionale)\nlet value = parseFloat(randomNumber.toFixed(2));\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 420,
        "wires": [
            [
                "227184f3d9990528",
                "a015631a545e31e4",
                "ed13c6809e7717c8",
                "df17f5b9454415da"
            ]
        ]
    },
    {
        "id": "a015631a545e31e4",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "average",
        "func": "const max_values = 30;\n\nlet value = parseFloat(msg.payload);\nlet values = context.get(\"values\") || [];\n\nvalues.push(value);\n\nwhile (values.length > max_values) {\n    values.shift();\n}\n\ncontext.set(\"values\", values);\n\nlet somma = 0;\nfor (let i = 0; i < values.length; i++) {\n    somma += values[i];\n}\n\nmsg.payload = parseFloat((somma / values.length).toFixed(2));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 480,
        "wires": [
            [
                "3a38d29792bf03f1"
            ]
        ]
    },
    {
        "id": "856c3e3e3ae4fdbd",
        "type": "inject",
        "z": "34d478f6cbb8753a",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "0.5",
        "topic": "",
        "x": 150,
        "y": 600,
        "wires": [
            [
                "98d2216dd5644797"
            ]
        ]
    },
    {
        "id": "98d2216dd5644797",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "random_water_level",
        "func": "let min = 20;\nlet max = 30;\nlet randomNumber = Math.random() * (max - min) + min;\n\n// Arrotonda il numero per maggiore pulizia (opzionale)\nlet value = parseFloat(randomNumber.toFixed(2));\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 600,
        "wires": [
            [
                "be5652e7290804be",
                "f8d8216dd9146556"
            ]
        ]
    },
    {
        "id": "42f6df196dd72d4c",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "3dbd742063594ab4",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "7191f3305b6e375e",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "cf90c337e99acd39",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "Avg Temperature (°C)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#e01b24",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "227184f3d9990528",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "60357de18034327d",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Humidity (kg/m^3)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3a38d29792bf03f1",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "ab882737ee8c3239",
        "order": 3,
        "width": "0",
        "height": "0",
        "label": "Avg Humidity (kg/m^3)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "be5652e7290804be",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "69c85ae031957054",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Water Level (mm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f8d8216dd9146556",
        "type": "ui_gauge",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "4de629c8464f8fcf",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Gauge",
        "label": "mm",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 550,
        "y": 640,
        "wires": []
    },
    {
        "id": "ab220919f250e4eb",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "cf90c337e99acd39",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Temperature:",
        "format": "{{msg.payload}} @ {{msg.date}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 100,
        "wires": []
    },
    {
        "id": "8280581bc87fc4f5",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "cf90c337e99acd39",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Min Temperature:",
        "format": "{{msg.payload}} @ {{msg.date}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "dd0a8517cf8c8cc3",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "max",
        "func": "let max = context.get(\"max\") || undefined;\nlet value = msg.payload;\n\nif (!max || max < value) {\n    max = value;\n} else {\n    return null;\n}\n\ncontext.set(\"max\", max);\n\nmsg.payload = max;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 100,
        "wires": [
            [
                "ab220919f250e4eb"
            ]
        ]
    },
    {
        "id": "d84df22c477c8b88",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "min",
        "func": "let min = context.get(\"min\") || undefined;\nlet value = msg.payload;\n\nif (!min || min > value) {\n    min = value;\n} else {\n    return null;\n}\n\ncontext.set(\"min\", min);\n\nmsg.payload = min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 60,
        "wires": [
            [
                "8280581bc87fc4f5"
            ]
        ]
    },
    {
        "id": "6bf500247d122c0e",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "ab882737ee8c3239",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Humidity:",
        "format": "{{msg.payload}} @ {{msg.date}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 360,
        "wires": []
    },
    {
        "id": "050653bc1899f72e",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "ab882737ee8c3239",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Min Humidity:",
        "format": "{{msg.payload}} @ {{msg.date}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "ed13c6809e7717c8",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "max",
        "func": "let max = context.get(\"max\") || undefined;\nlet value = msg.payload;\n\nif (!max || max < value) {\n    max = value;\n} else {\n    return null;\n}\n\ncontext.set(\"max\", max);\n\nmsg.payload = max;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "6bf500247d122c0e"
            ]
        ]
    },
    {
        "id": "df17f5b9454415da",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "min",
        "func": "let min = context.get(\"min\") || undefined;\nlet value = msg.payload;\n\nif (!min || min > value) {\n    min = value;\n} else {\n    return null;\n}\n\ncontext.set(\"min\", min);\n\nmsg.payload = min;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "050653bc1899f72e"
            ]
        ]
    },
    {
        "id": "27429957a57f172d",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "VPD",
        "func": "// msg.payload.temp (Celsius) and msg.payload.humidity (%)\nlet T = msg.payload.temperature;\nlet RH = msg.payload.humidity;\n\n// 1. Calculate SVP (Tetens equation)\n// Result is in kPa (kilopascals)\nlet SVP = 0.61078 * Math.exp((17.27 * T) / (T + 237.3));\n\n// 2. Calculate VPD\nlet VPD = SVP * (1 - (RH / 100));\n\n// Output formatting\nmsg.payload = {\n    vpd: parseFloat(VPD.toFixed(2)),\n    status: VPD > 1.2 ? \"Dry/High Stress\" : (VPD < 0.4 ? \"Mold Risk\" : \"Good\")\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 60,
        "wires": [
            [
                "c93de5560976103f",
                "b819238f0ef23cef"
            ]
        ]
    },
    {
        "id": "92e72763c9f29829",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "2d67e269d40763c1",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "VPD",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1670,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "c93de5560976103f",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "2d67e269d40763c1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "VPD Status: ",
        "format": "{{msg.payload.status}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 100,
        "wires": []
    },
    {
        "id": "1ab3e2e5f47596a4",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "random_temp_humidity",
        "func": "let min = 20;\nlet max = 30;\n\nlet randomTemp = Math.random() * (max - min) + min;\nlet randomHumidity = Math.random() * (max - min) + min;\n\n// Arrotonda il numero per maggiore pulizia (opzionale)\nlet valueTemp = parseFloat(randomTemp.toFixed(2));\nlet valueHumidity = parseFloat(randomHumidity.toFixed(2));\n\nmsg.payload = {\n    \"temperature\": valueTemp,\n    \"humidity\": valueHumidity,\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 60,
        "wires": [
            [
                "27429957a57f172d"
            ]
        ]
    },
    {
        "id": "990f565b56fae053",
        "type": "inject",
        "z": "34d478f6cbb8753a",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 990,
        "y": 60,
        "wires": [
            [
                "1ab3e2e5f47596a4"
            ]
        ]
    },
    {
        "id": "b819238f0ef23cef",
        "type": "change",
        "z": "34d478f6cbb8753a",
        "name": "Get Vpd",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.vpd",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1540,
        "y": 60,
        "wires": [
            [
                "92e72763c9f29829"
            ]
        ]
    },
    {
        "id": "8df30615e6bd19f5",
        "type": "inject",
        "z": "34d478f6cbb8753a",
        "name": "",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "date",
                "v": "object",
                "vt": "date"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "x": 130,
        "y": 720,
        "wires": [
            [
                "45e73fc70b7a4d5f"
            ]
        ]
    },
    {
        "id": "45e73fc70b7a4d5f",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "random_light_level_percentage",
        "func": "let min = 0;\nlet max = 100;\nlet randomNumber = Math.random() * (max - min) + min;\n\n// Arrotonda il numero per maggiore pulizia (opzionale)\nlet value = parseFloat(randomNumber.toFixed(2));\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 720,
        "wires": [
            [
                "3a226fc6fa807f68",
                "0a94732ad7d1f2b7"
            ]
        ]
    },
    {
        "id": "3a226fc6fa807f68",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "91d9056983d973a5",
        "order": 2,
        "width": "0",
        "height": "0",
        "label": "Light Level",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "10",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "ccc74ce47892d404",
        "type": "ui_button",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "4de629c8464f8fcf",
        "order": 3,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Activate Water Pump",
        "tooltip": "Enables the water pump for",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "payload",
        "topicType": "msg",
        "x": 1020,
        "y": 280,
        "wires": [
            [
                "9d4d346ac2a16160"
            ]
        ]
    },
    {
        "id": "61ec79c4b9916808",
        "type": "mqtt out",
        "z": "34d478f6cbb8753a",
        "name": "",
        "topic": "water_pump_override",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1520,
        "y": 280,
        "wires": []
    },
    {
        "id": "e6604fb8ebc63a5a",
        "type": "ui_numeric",
        "z": "34d478f6cbb8753a",
        "name": "",
        "label": "Activate Water Pump For",
        "tooltip": "Activate Water Pump For",
        "group": "4de629c8464f8fcf",
        "order": 2,
        "width": "9",
        "height": "1",
        "wrap": true,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}} seconds",
        "min": "1",
        "max": "20",
        "step": 1,
        "className": "",
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "5959fb8463bcc23b"
            ]
        ]
    },
    {
        "id": "5959fb8463bcc23b",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "Set Water Pump Duration",
        "func": "flow.set(\"water_pump_duration\", msg.payload)\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9d4d346ac2a16160",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "Get Water Pump Duration",
        "func": "let value = flow.get(\"water_pump_duration\")\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 280,
        "wires": [
            [
                "61ec79c4b9916808"
            ]
        ]
    },
    {
        "id": "0a94732ad7d1f2b7",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "light_percentage",
        "func": "let light_points = context.get(\"light_points\") || 0;\nlet dark_points = context.get(\"dark_points\") || 0;\n\nif (msg.reset) {\n    dark_points = 0;\n    light_points = 0;\n}\n\nlet value = msg.payload;\n\n// percentage\nvalue > 50 ? light_points += 1 : dark_points += 1;\n\ncontext.set(\"light_points\", light_points);\ncontext.set(\"dark_points\", dark_points);\n\nlet light_percentage = light_points / (light_points + dark_points) * 100;\nmsg.payload = {\n    \"light_percentage\": parseInt(light_percentage),\n    \"light_points\": light_points,\n    \"dark_points\": dark_points,\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 760,
        "wires": [
            [
                "8f8f28ab7001f9b5",
                "52c1df8b59b70773",
                "7723d33ccaa5438e"
            ]
        ]
    },
    {
        "id": "368f0cfcc8ac14b3",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "Daily Light Level",
        "group": "d0e0f81a04b7c122",
        "order": 3,
        "width": "8",
        "height": "6",
        "label": "Today's Light Exposure [{{msg.payload}}%]",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "70f0c6faaa3f9d4f",
        "type": "inject",
        "z": "34d478f6cbb8753a",
        "name": "new_day",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 410,
        "y": 780,
        "wires": [
            [
                "0a94732ad7d1f2b7"
            ]
        ]
    },
    {
        "id": "8f8f28ab7001f9b5",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "d0e0f81a04b7c122",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Light Measurements:",
        "format": "{{msg.payload.light_points}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 800,
        "wires": []
    },
    {
        "id": "52c1df8b59b70773",
        "type": "change",
        "z": "34d478f6cbb8753a",
        "name": "Get Light Percentage",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.light_percentage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 760,
        "wires": [
            [
                "368f0cfcc8ac14b3"
            ]
        ]
    },
    {
        "id": "7723d33ccaa5438e",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "d0e0f81a04b7c122",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Shadow Measurements: ",
        "format": "{{msg.payload.dark_points}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 850,
        "y": 840,
        "wires": []
    },
    {
        "id": "74233926f9eaecbd",
        "type": "ui_text",
        "z": "34d478f6cbb8753a",
        "group": "d0e0f81a04b7c122",
        "order": 4,
        "width": "5",
        "height": "5",
        "name": "Daily Light Description",
        "label": "",
        "format": "A measurement is considered a \"Light Measurement\" if its value exceeds 50% of the sensor's max light value.",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1080,
        "y": 720,
        "wires": []
    },
    {
        "id": "e288e0954db747ae",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "light_hour_counter",
        "func": "let value = msg.payload;\nlet light_hours = context.get(\"light_hours\") || 0;\n\nif (value > 50) {\n    light_hours += 1\n}\n\ncontext.set(\"light_hours\", light_hours);\n\nif (!msg.reset) {\n    return null;\n}\n\nmsg.payload = light_hours;\nlight_hours = 0;\n\ncontext.set(\"light_hours\", light_hours);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 940,
        "wires": [
            [
                "09177e19ba146c3f"
            ]
        ]
    },
    {
        "id": "09177e19ba146c3f",
        "type": "ui_chart",
        "z": "34d478f6cbb8753a",
        "name": "",
        "group": "d0e0f81a04b7c122",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Daily Light Hours",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "24",
        "removeOlder": "7",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "d7a7360c3811d3a0",
        "type": "inject",
        "z": "34d478f6cbb8753a",
        "name": "new_day",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 430,
        "y": 920,
        "wires": [
            [
                "e288e0954db747ae"
            ]
        ]
    },
    {
        "id": "f1f30dc2cf9d5a65",
        "type": "inject",
        "z": "34d478f6cbb8753a",
        "name": "every hour",
        "props": [
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "date",
                "v": "object",
                "vt": "date"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": "0.5",
        "topic": "",
        "x": 150,
        "y": 980,
        "wires": [
            [
                "d63214b19a231e1c"
            ]
        ]
    },
    {
        "id": "d63214b19a231e1c",
        "type": "function",
        "z": "34d478f6cbb8753a",
        "name": "random_light_level_percentage",
        "func": "let min = 0;\nlet max = 100;\nlet randomNumber = Math.random() * (max - min) + min;\n\n// Arrotonda il numero per maggiore pulizia (opzionale)\nlet value = parseFloat(randomNumber.toFixed(2));\n\nmsg.payload = value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 980,
        "wires": [
            [
                "e288e0954db747ae"
            ]
        ]
    },
    {
        "id": "bc8bac361121f705",
        "type": "inject",
        "z": "c753122a205bffa9",
        "name": "startup_date",
        "props": [
            {
                "p": "date",
                "v": "object",
                "vt": "date"
            },
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "a5331227e8f44ffc"
            ]
        ]
    },
    {
        "id": "a5331227e8f44ffc",
        "type": "ui_template",
        "z": "c753122a205bffa9",
        "group": "5d441a915c5d51f3",
        "name": "Title",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"text-align: center;\">\n    <h1 style=\"color: green !important; margin-bottom: 0px;\">SMART GARDEN</h1>\n    <h3 style=\"color: green !important; margin-top: 5px;\">Gruppo 12</h3>\n</div>\n\n<h3 style=\"padding-top: 40px\">Info</h3>\n<p>System Startup @ {{msg.date}}</p>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 350,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "88a0b6b6fd66e6c1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]